body {
  font-family: 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: #A9E8DC;
}

.card{
  margin: auto;
  display: block;
  width: 160px;
  background-color: #02BEC4;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
}

.loadBtn{
  height: 40px;
  border-radius: 13px;
  background-color: #0284A8;
  border: none;
}